@media screen and (max-width: 768px), (max-width: 992px) {
    .collection_overflow {
        padding: 0px !important;
    }
}

@media screen and (max-width: 768px){
   .top_footer_menu ul li {
    padding-left: 105px;
}
}
@media screen and (min-width: 769px), (max-width: 1024px) {
  .top_footer_menu ul li {
    padding-left: 50px;
}
}
