  /* INDEX-FILE */
@media screen and (max-width: 768px), (max-width: 992px) {
    .collection_overflow {
        padding: 0px !important;
    }
}

@media screen and (max-width: 480px){
   .top_footer_menu ul li {
    padding-left: 105px;
}
}

/* ABOUT-FILE */
@media screen and (max-width: 480px){
   #about-us #para1 {
  padding: 10px 20px;
}
}



@media screen and (max-width: 480px){
  .author__image-wrapper {
  min-width: 250px;
  min-height: 250px;
  max-width: 250px;
  width: 100%;
}
}

 @media screen and (max-width:480px){
  .about_para_1 {
  padding: 0px  20px !important;
}
}
